<section class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bc-inner">
                    <p><a href="#">Home  |</a> Liên Hệ</p>
                </div>
            </div>
            <!-- /.col-xl-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!--=========================-->
<!--=        Breadcrumb         =-->
<!--=========================-->



<!--Contact area
============================================= -->

<!-- /.contact-area end -->

<!--Map area
============================================= -->

<section class="google-map">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-6">
            <div class="gmap3-area" data-lat="20.538064055974072" data-lng="105.91258422174435" data-mrkr="media/images/icon/map-marker.png"></div>
            <!-- /.google-map -->
        </div>
        <!-- /.col-xl-6 -->
        <div class="col-md-6 col-lg-6">
            <div class="contact-info">
                <h5>HanaShop</h5>
                <span>Vietnam</span>
                <p>QL1A, Hai Bà Trưng, Phủ Lý, Hà Nam 401008, Vietnam</p>
                <p>Phone:<span> 0942 603 115</span></p>
            </div>
        </div>
        <!-- /.col-xl-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /#map -->


<!--Shop area
============================================= -->
<section class="store-area padding-120">
    <div class="container">
        <div class="section-heading  pb-30">
            <h3>SHOP ALSO <span>HERE</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-store">
                    <img src="media/images/banner/cf1.jpg" alt="">
                    <a href="#">paris fashion city</a>
                    <p>france</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-store">
                    <img src="media/images/banner/cf2.jpg" alt="">
                    <a href="#">fashion world</a>
                    <p>new zealand</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-store">
                    <img src="media/images/banner/cf3.jpg" alt="">
                    <a href="#">ThemeIM Park</a>
                    <p>manhattan</p>
                </div>
            </div>
        </div>
        <!-- /.row end -->
    </div>
    <!-- /.container-fluid end -->
</section>
<!-- /.contact-area end -->