<div class="site-content">


    <!--=========================-->
    <!--=        Header         =-->
    <!--=========================-->



    <!-- Top Bar area start
============================================= -->


    <header id="header" class="header-area">
        <div class="top-bar">
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="top-bar-left">
                            <p><i class="far fa-flag"></i><a routerLink="/contact">Our Location</a></p>

                            <p><i class="far fa-envelope"></i><a href="mailto:Hai.BKC12049@student.bkacad.edu.vn">Hai.BKC12049@student.bkacad.edu.vn</a></p>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-lg-6">
                        <div class="top-bar-right">
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>

                            <a routerLink="/login" class="my-account" *ngIf="isLogin()==false">Login</a>
                            <a routerLink="/home" class="my-account" *ngIf="isLogin()==true" routerLink="/customerInfo"><span>Xin chào, {{user}}</span></a>
                        </div>
                        <!--top-bar-right end-->
                    </div>
                    <!-- Col end-->
                </div>
                <!--Row end-->
            </div>
            <!--container end-->
        </div>
        <!--top-bar end-->

        <!-- Main Menu
    ============================================= -->


        <div class="container-fluid custom-container menu-rel-container">
            <div class="row">
                <!-- Logo
            ============================================= -->
                <div class="col-lg-6 col-xl-3">
                    <div class="logo">
                        <a routerLink="/home">
                            <img src="../assets/img/images/logo.png" style="width:50px; height: 50px" alt="">
                        </a>
                    </div>
                </div>
                <!--Col end-->

                <!-- Main menu
            ============================================= -->

                <div class="col-lg-12 col-xl-7 order-lg-3 order-xl-2 menu-container">
                    <div class="mainmenu style-two">
                        <ul id="navigation">
                            <li class="has-child"><a routerLink="/home">Trang chủ</a>
                            </li>

                            <li class="has-child"><a [routerLink]="['/product',2]">Thực phẩm chức năng</a>

                                <li class="has-child"><a [routerLink]="['/product',3]">Chăm sóc da</a>

                                </li>
                                <li class="has-child"><a routerLink="/blog">Blog</a>

                                </li>
                                <li><a routerLink="/contact">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <!--Menu container end-->


                <div class="col-lg-6 col-xl-2 order-lg-2 order-xl-3">
                    <div class="header-right-menu">
                        <ul>
                            <li class="top-search style-two"><a href="javascript:void(0)"><i class="flaticon-magnifying-glass"></i></a>
                                <input type="text" class="search-input" placeholder="Search">
                            </li>
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li class="top-cart"><a routerLink="/cart"><i class="flaticon-bag"></i></a>

                            </li>
                        </ul>
                    </div>
                </div>
                <!--Col end-->
            </div>
            <!--Row end-->
        </div>
        <!--container end-->
    </header>
    <!--Header end-->



    <!--=========================-->
    <!--=        Mobile Header         =-->
    <!--=========================-->



    <header class="mobile-header">
        <div class="container-fluid custom-container">
            <div class="row">

                <!-- Mobile menu Opener
                ============================================= -->
                <div class="col-4">
                    <div class="accordion-wrapper">
                        <a href="#" class="mobile-open"><i class="flaticon-menu-1"></i></a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="logo">
                        <a routerLink="/home">
                            <img src="../assets/img/images/logo.png" style="width:50px; height: 50px" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="top-cart">
                        <a routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- /.row end -->
        </div>
        <!-- /.container end -->
    </header>

    <div class="accordion-wrapper">

        <!-- Mobile Menu Navigation
            ============================================= -->
        <div id="mobilemenu" class="accordion">
            <ul>
                <li class="mob-logo">
                    <a routerLink="/home">
                        <img src="../assets/img/images/logo.png" style="width:50px; height: 50px" alt="">
                    </a>
                </li>
                <li><a href="#" class="closeme"><i class="flaticon-close"></i></a></li>
                <li>
                    <a href="#" class="link">Home<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="index.html">Home one</a></li>
                        <li><a href="index-2.html">Home two</a></li>
                        <li><a href="index-3.html">Home three</a></li>

                    </ul>
                </li>
                <li class="out-link"><a href="shop.html">Collections</a></li>

                <li>
                    <a href="shop.html" class="link">Men<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="shop.html">Shop with sidebar</a></li>
                        <li><a href="shop-four-grid.html">Shop four grid</a></li>
                        <li><a href="shop-without-sidebar.html">Shop without sidebar</a></li>
                        <li><a href="product.html">Product details</a></li>
                        <li><a href="product-fullwidth.html">Product Fullwidth</a></li>
                        <li><a href="cart.html">Cart</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="link">Women<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="shop.html">Woman Dresses</a></li>
                        <li><a href="shop.html">Women & Flowers</a></li>
                        <li><a href="shop.html">Girl Hat in Sunlights</a></li>
                        <li><a href="shop.html">Men Watches</a></li>
                        <li><a href="shop.html">Clothes Fashion</a></li>
                        <li><a href="shop.html">Woman Dresses</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link">Shop<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="shop.html">Shop with sidebar</a></li>
                        <li><a href="shop-four-grid.html">Shop four grid</a></li>
                        <li><a href="shop-without-sidebar.html">Shop without sidebar</a></li>
                        <li><a href="product.html">Product details</a></li>
                        <li><a href="product-fullwidth.html">Product Fullwidth</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="account.html">Order</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link">Blog<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="single.html">Single post</a></li>
                        <li><a href="blog.html">Blog three grid</a></li>
                        <li><a href="blog-two-grid.html">Blog two grid</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link">Pages<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="login.html">Account</a></li>
                        <li><a href="create-account.html">Signup</a></li>
                        <li><a href="account.html">Login</a></li>
                    </ul>
                </li>


            </ul>
            <div class="mobile-login">
                <a href="login.html">Log in</a> |
                <a href="create-account.html">Create Account</a>
            </div>
            <form action="#" id="moble-search">
                <input placeholder="Search...." type="text">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>


    <router-outlet></router-outlet>







    <footer class="footer-widget-area style-two">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="footer-widget style-two">
                        <div class="logo">
                            <a routerLink="/home">
                                <img src="../assets/img/images/logo.png" style="width:100px; height: 100px" alt="">
                            </a>
                        </div>
                        <p>Autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum dolore eu olestie.</p>
                        <div class="time-table">

                        </div>
                    </div>
                </div>
                <!-- /.col-xl-3 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-widget style-two">
                        <h3>Quick shop</h3>
                        <div class="footer-menu">
                            <ul>
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/product/2">Thực phẩm chức năng</a></li>
                                <li><a routerLink="/product/3">Chăm sóc da</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col-xl-3 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-widget style-two">
                        <h3>CUSTOMER SERVICES</h3>
                        <div class="footer-menu">
                            <ul>
                                <li><a routerLink="./contact">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col-xl-3 -->

                <!-- /.col-xl-3 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-widget style-two">
                        <h3>instagram</h3>

                    </div>
                </div>
                <!-- /.col-xl-3 -->
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-6 order-2 order-lg-1">
                        <p>Copyright © <span>2018</span> ThemeIM Solution • Designed by <a href="#">Hoang Hai</a></p>
                    </div>

                    <!-- /.col-xl-6 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- container-fluid -->
    </footer>
    <!-- footer-widget-area -->

    <!-- Back to top
============================================= -->

    <div class="backtotop">
        <i class="fa fa-angle-up backtotop_btn"></i>
    </div>





    <!--=========================-->
    <!--=   Popup 2 area      =-->
    <!--=========================-->

    <!-- Popup area
============================================= -->


    <!--=========================-->
    <!--=   Product Quick view area       =-->
    <!--=========================-->

    <!-- Quick View -->
    <div class="modal quickview-wrapper">
        <div class="quickview">
            <div class="row">
                <div class="col-12">
                    <span class="close-qv">
                <i class="flaticon-close"></i>
            </span>
                </div>
                <div class="col-md-6">
                    <!-- Product View Slider -->
                    <div class="quickview-slider">
                        <div class="slider-for">
                            <div class="">
                                <img src="../assets/img/images/product/single/b1.jpg" alt="Thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b2.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b3.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b4.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b5.jpg" alt="Thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b1.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b2.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b3.jpg" alt="thumb">
                            </div>
                        </div>

                        <div class="slider-nav">

                            <div class="">
                                <img src="../assets/img/images/product/single/b1.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b2.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b3.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <div class="">
                                    <img src="../assets/img/images/product/single/b4.jpg" alt="Thumb">
                                </div>
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b5.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b1.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b2.jpg" alt="thumb">
                            </div>
                            <div class="">
                                <img src="../assets/img/images/product/single/b3.jpg" alt="thumb">
                            </div>
                        </div>
                    </div>
                    <!-- /.quickview-slider -->
                </div>
                <!-- /.col-xl-6 -->

                <div class="col-md-6">
                    <div class="product-details">
                        <h5 class="pro-title"><a href="#">Woman fashion dress</a></h5>
                        <span class="price">Price : $387</span>
                        <div class="size-variation">
                            <span>size :</span>
                            <select name="size-value">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                        </div>
                        <div class="color-variation">
                            <span>color :</span>
                            <ul>
                                <li><i class="fas fa-circle"></i></li>
                                <li><i class="fas fa-circle"></i></li>
                                <li><i class="fas fa-circle"></i></li>
                                <li><i class="fas fa-circle"></i></li>
                            </ul>
                        </div>

                        <div class="add-tocart-wrap">
                            <!--PRODUCT INCREASE BUTTON START-->
                            <div class="cart-plus-minus-button">
                                <input type="text" value="1" name="qtybutton" class="cart-plus-minus">
                            </div>
                            <a href="#" class="add-to-cart"><i class="flaticon-shopping-purse-icon" ></i>Add to Cart</a>
                            <!-- <a href="#"><i class="flaticon-valentines-heart"></i></a> -->
                        </div>

                        <!-- <span>SKU:	N/A</span>
                            <p>Tags <a href="#">boys,</a><a href="#"> dress,</a><a href="#">Rok-dress</a></p> -->

                        <p>But I must explain to you how all this mistaken idedenounc pleasure and praisi pain was born and I will give you a complete accosystem, and expound the actu teachings of the great explore tmaster-builder of human happiness. No
                            one rejects, dislikes, or avoids.</p>

                        <div class="product-social">
                            <span>Share :</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.product-details -->
                </div>
                <!-- /.col-xl-6 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
<!-- /#site -->